@font-face {
    font-family: 'vazir';
    src: url('files/font/Vazir.ttf') format('truetype'),
        url('files/font/Vazir.eot') format('eot'),
        url('files/font/Vazir.woff') format('woff');
}

html,
body {
    direction: rtl;
    font-family: vazir;
    padding: 0;
    margin: 0;
    background: rgba(238, 238, 238, 1.0);
}

input {
    font-family: vazir;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    height: 28px;
    width: 200px
}

input::-webkit-input-placeholder {
    padding: 0 7px;
}

input:-ms-input-placeholder {
    padding: 0 7px;
}

input::placeholder {
    padding: 0 7px;
}

button {
    width: 60px;
    height: 32px;
}

select {
    font-family: vazir;
    width: 120px;
    height: 32px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    cursor: pointer;
}

header {
    background: rgba(245, 245, 245, 1.0);
    width: 100%;
    height: 300px;
    padding-top: 7px;
}

nav {
    background: rgba(250, 250, 250, 1.0);
    width: 100%;
    height: 40px;
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow:
        0px 11px 8px -10px rgba(0, 0, 0, .1),
        0px -11px 8px -10px rgba(0, 0, 0, .1);
    box-shadow:
        0px 11px 8px -10px rgba(0, 0, 0, .1),
        0px -11px 8px -10px rgba(0, 0, 0, .1);
}

.logo {
    padding: 0 20px;
}

.logo > img {
    height: 40px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
}

.menu > li {
    display: block;
    padding: 0 10px;
}

.menu > li > a {
    text-decoration: none;
    color: black;
    padding: 9px 0;
    position: relative;
}

.menu > li > a:after {
    content: '';
    width: 0%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 50%;
}

.menu > li a:before {
    content: '';
    width: 0%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 50%;
}

.menu > li a:hover:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: #FFDA00;
    height: 1px;
    width: 50%;
}

.menu > li a:hover:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #FFDA00;
    height: 1px;
    width: 50%;
}

.top-movies {
    background-image: url('files/header.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}


.posters {
    padding: 25px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.poster {
    width: 130px;
    overflow: hidden;
    margin: 0 10px;
    padding: 3px;
    text-align: center;
    border: 2px solid rgba(238, 238, 238, 1.0);
}

.poster:hover {
    background: rgba(235, 235, 235, .5);
}

.poster > img {
    width: 120px;
    height: 170px;
}

.poster > p {
    display: block;
    padding: 0;
    margin: 0;
}

.poster > p > a {
    text-decoration: none;
    font-size: 11pt;
    color: black;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main {
    grid-column: 1 / 9;
}

aside {
    grid-column: 9 / 12;
}

.search {
    margin: 20px;
    background: rgba(224, 224, 224,1.0);
    border-radius: 3px;
}

.search > small {
    margin: 10px;
}

.search > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search > form > button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: vazir;
    width: 120px;
    height: 32px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    cursor: pointer;
    background: #E57373;
    color: white;
}

.search > form > button:hover {
    background: #EF5350;
}

